@scci-assessments:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/
@scci-branding:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/
@scci-questions:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/
@scci-registration:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/
@scci-itops:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/
@scci-delivery:registry=http://aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/

registry=https://registry.npmjs.org/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/12/2019.
; begin auth token
//aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjRVblJwX1R2a1RVVzJfOENwRlpfdVlRM2pqMCJ9.eyJuYW1laWQiOiJmNDE2MjQ1YS0yNWI1LTRiYjQtYjQ1OC03OWVkYzkzMGJiYWQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjM3YTA5MDctOTdiYy00MjliLWEzOWQtMGY0OTRmMjI1MDE2Iiwic2lkIjoiYjFhY2VhYzgtZjUyMC00YWU3LTg2NGMtYmYxN2Q4OTJlNTY3IiwiaXNzIjoiYWljcGEtdGZzIiwiYXVkIjoiYWljcGEtdGZzIiwibmJmIjoxNTYzMTI0OTI4LCJleHAiOjE1NzA5MDA5Mjh9.KQka8X3_dCkjus3UyoK07tDjRiKQKZR44ekSCPjEmDByW_T7XvxKdcfN5kq0pjAlzTzui3IX3HXi3pZZ094rT8wqSufb5KhpFs8w5Lm3Ax4VQk2ao0BYSx5uRljD_EMW94kIVkAU14YEaQQtQKqTWQ8Be1Ww2aNr3bvpAQ33gbkbfF44IYp6WVZD2vcHDh03MhRmazCGFtQiA1DwowmOTzYyVcbGMsTWHi0dL4lVWJRMovpZBHcL64XOTXitQRhN4pXzHChuHmVA_9JJ2LR1DNCc8eyLqtjY_RMxOvFMlxUdBQsFio9kTqcH0x49Gkx3DKGsT3zlKmdPLQ_w6QujtA
//aicpa-tfs:8080/tfs/DefaultCollection/_packaging/StraszAssessmentSystems/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjRVblJwX1R2a1RVVzJfOENwRlpfdVlRM2pqMCJ9.eyJuYW1laWQiOiJmNDE2MjQ1YS0yNWI1LTRiYjQtYjQ1OC03OWVkYzkzMGJiYWQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjM3YTA5MDctOTdiYy00MjliLWEzOWQtMGY0OTRmMjI1MDE2Iiwic2lkIjoiYjFhY2VhYzgtZjUyMC00YWU3LTg2NGMtYmYxN2Q4OTJlNTY3IiwiaXNzIjoiYWljcGEtdGZzIiwiYXVkIjoiYWljcGEtdGZzIiwibmJmIjoxNTYzMTI0OTI4LCJleHAiOjE1NzA5MDA5Mjh9.KQka8X3_dCkjus3UyoK07tDjRiKQKZR44ekSCPjEmDByW_T7XvxKdcfN5kq0pjAlzTzui3IX3HXi3pZZ094rT8wqSufb5KhpFs8w5Lm3Ax4VQk2ao0BYSx5uRljD_EMW94kIVkAU14YEaQQtQKqTWQ8Be1Ww2aNr3bvpAQ33gbkbfF44IYp6WVZD2vcHDh03MhRmazCGFtQiA1DwowmOTzYyVcbGMsTWHi0dL4lVWJRMovpZBHcL64XOTXitQRhN4pXzHChuHmVA_9JJ2LR1DNCc8eyLqtjY_RMxOvFMlxUdBQsFio9kTqcH0x49Gkx3DKGsT3zlKmdPLQ_w6QujtA
; end auth token