registry=https://registry.npmjs.org/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 
; begin auth token
 
; end auth token